In [43]:
import pandas as pd
import numpy as np

data = pd.read_csv('Data/train.csv')

In [2]:
data.drop(['Ticket'],axis=1,inplace=True)
data.drop(['Cabin'],axis=1,inplace=True)

In [3]:
data['Age'].fillna(data['Age'].mean(),inplace=True)

In [4]:
data['Embarked'].fillna('S',inplace=True)
data['Fam_Num'] = data['SibSp'] + data['Parch']
data.drop(['SibSp'],axis=1,inplace=True)
data.drop(['Parch'],axis=1,inplace=True)

In [5]:
data.Sex[data['Sex'] == 'female'] = 0
data.Sex[data['Sex'] == 'male'] = 1

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
name = data['Name'][data['PassengerId']==19]

In [7]:
def Clean_Name(name):
    title = ['Mr.','Mrs.','Miss.','Master.','Rev.']
    name_split = name.split()
    for x in title:
        if (x in name_split):
            return name_split[name_split.index(x)]
    return name_split[1]

In [8]:
data['Title'] = data['Name'].apply(Clean_Name)

In [34]:
data.Title.unique()

array(['Mr.', 'Mrs.', 'Miss.', 'Master.', 'Don.', 'Rev.', 'Dr.', 'Mme.',
       'Ms.', 'Major.', 'Lady.', 'Sir.', 'Mlle.', 'Col.', 'Capt.', 'the',
       'Jonkheer.'], dtype=object)

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Embarked,Fam_Num,Title
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",0,33.0,86.5,S,0,Countess.

    Title
599  Sir.

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Embarked,Fam_Num,Title
556,557,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",0,48.0,39.6000,C,1,"Gordon,"
599,600,1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",1,49.0,56.9292,C,1,"Gordon,"

In [10]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
data.info()

X = data.drop(['Survived'],axis=1)
y = data['Survived']

#no of features
nof_list=np.arange(1,7)
high_score=0
#Variable to store the optimum features
nof=0
score_list =[]
for n in range(len(nof_list)):
    X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 0)
    model = RandomForestClassifier()
    rfe = RFE(model,nof_list[n])
    X_train_rfe = rfe.fit_transform(X_train,y_train)
    X_test_rfe = rfe.transform(X_test)
    model.fit(X_train_rfe,y_train)
    score = model.score(X_test_rfe,y_test)
    score_list.append(score)
    if(score>high_score):
        high_score = score
        nof = nof_list[n]
print("Optimum number of features: %d" %nof)
print("Score with %d features: %f" % (nof, high_score))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
Fare           891 non-null float64
Embarked       891 non-null object
Fam_Num        891 non-null int64
dtypes: float64(2), int64(4), object(3)
memory usage: 62.7+ KB

ValueError: could not convert string to float: 'Daly, Mr. Peter Denis '